/* src/styles/facet-label.css */

.facet-label-optimized {
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.label-title {
  margin: 0;
  color: #FFFCEE;
  font-family: "acumin-variable", "Acumin VF", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-stretch: 68%;
  --wdth: 68;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

.label-description {
  margin-top: 0.25rem;
  font-family: "acumin-variable", "Acumin VF", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}


@media (max-width: 767px) {
  .label-title {
    font-size: clamp(1.13rem, 5.67vw, 1.47rem);
    line-height: 1;
  }

  .label-description {
    margin-top: 0.1rem;
    font-size: clamp(1rem, 4.2vw, 1.15rem);
    line-height: 1.35;
  }
}
